<div class="welcome">
  <div class="jumbotron">
    <h1>Welcome to Singflying!</h1>
    <p>Singflying 是一个社区网站，在这儿你可以与朋友们一起讨论感兴趣的话题，分享周边的趣事</p>
    <p>这儿所有的内容都会沉淀保存下来，内容的贡献者有权利索要拷贝</p>
    <p>Singflying 会为了用户的需求不断进化，欢迎提供建议<p>
    <p><a class="btn btn-primary btn-lg" role="button" href="/topics/categoried/siteinfo">更多关于本站</a></p>
  </div>


  <div class="row">
    <div class="col-md-4 col-md-offset-2 poet-text">
        <p class="text-muted">Birds sing, flying around</p>
        <p class="text-muted">You never see them too long on the ground</p>
        <p class="text-muted">You want to be one of them (Yeah)</p>
        <p class="text-muted">You want to be one of them (Yeah)</p>
        <p class="text-muted">-- <a href="http://en.wikipedia.org/wiki/Mr._Rager">Mr. Rager</a></p>
    </div>
    <div class="col-md-5">
      <img class="img-circle" src="http://singflying.qiniudn.com/hd_main.jpg" alt="Generic placeholder image" style="width: 250px; height: 250px;">
    </div>
  </div>

  <hr class="featurette-divider">

</div>
