javascript:
  var editor = new Simditor({
    textarea: $('#simditor'),
    placeholder: '写下之所想',
    params: {},
    tabIndent: true,
    toolbar: ['title', 'bold', 'italic', 'underline', 'strikethrough', 'ol', 'ul', 'blockquote', 'code', 'table', 'link', 'hr', 'indent', 'outdent'],
    toolbarFloat: true,
  });
